{% extends 'base.html' %}
{% block contentblock %}

<div class="about">
<div class="jumbotron bg-transparent lead best-h1">

  <h1>About DRAGON.</h1>

  <br>

  <p>
    Dragon. was born on 25 September 2018 with the dream of uniting as many
    Romanians as possible under the Pandemic Horde family. Sonorius Stetille,
    the original founder and CEO of the corporation managed to do an impressive
    job and gathered almost 140 pilots in the corporation. Since its creation
    Dragon. lived with Pandemic Horde in Geminate and The Kalevala Expanse.
    <hr class="hr-lighter">
    <br>
    In June 2020, Sonorius resigned his CEO position and passed it to
    Nuallan Xadi. Due to the fact that the corporation was stalling and not
    expanding as wanted, the decision to start accepting international members
    was taken.
    <br>
    <hr class="hr-lighter">
    <br>
    In August of 2020, after many good meetings with the leadership of Lacuna
    Fulfillment corporation the two corporations decided to merge into one, thus
    empowering Dragon. Lacuna fulfillment managed to fill the gaps that
    Dragon. had, and by doing so it managed to keep up to its name. Dragon.
    in the present is taking on some big projects in the drone lands.
    <hr class="hr-lighter">
    <br>
    In September of 2020, Nuallan passed CEO status to Erin Davis. Growing the
    corporation from strength to strength has been an objective of Nuallan and
    Erin, and now with Erin at the helm of our corporation, we embark on a new
    chapter of growth and success in New Eden.
  </p>


</div>
</div>

{% endblock %}
