{% extends 'base.html' %}
{% block contentblock %}

<div class="apply">
<div class="jumbotron bg-transparent best-h1">

  <h1>Apply to join DRAGON.</h1>

  <hr class="hr-lighter">

  {# <h4 class="no-apply">Currently we are not recruiting at this time, please check back for updates in the future.</h4> #}

  <br>

  <h3>If you would like to apply to join DRAGON. please follow these steps:</h3>

  <hr class="hr-lighter">

  <p>
    <ol>
      <li>Join our discord :  <a class="btn btn-outline-success " href="https://discord.gg/TPsBX2F" target="_blank">> Discord <</a></li>
      <li>Register your toons to our SeAT :  <a class="btn btn-outline-success " href="https://seat.dragon-corp.space" target="_blank">> SeAT <</a></li>
      <li>Ping @Recruiter to set up an interview.</li>
      <li>Your recruiter will then give you information and the the next steps.</li>
    </ol>
  </p>

</div>
</div>


{% endblock %}
