{% extends "base.html" %}
{% block contentblock %}



<div class="leadership">
  <div class="jumbotron bg-transparent lead best-h1">



    <h1>Leadership @ Dragon.</h1>

    <hr class="hr-lighter">

    <h3>Meet the upper echelons of Dragon. Leading our corporation to the
        success that it is as we navigate through the vast expanse of New Eden
        and all the various projects and operations that we are currently executing.</h3>

  </div>

  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/782259701/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CEO</h5>
          <p>Erin Davis</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/2116542945/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">COO</h5>
          <p>Orkin McGorkin</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/96716362/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DIRECTOR</h5>
          <p>Zeno Hekki</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/933789919/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SKYMARSHALL | MINING DIVISION</h5>
          <p>Sideous Bashear</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/2117167718/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">REACTIONS DIVISION</h5>
          <p>R3np</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/1291496803/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MINING DIVISION</h5>
          <p>Dilpikle</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/2115889690/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">COMBAT DIVISION | FIELD COMMANDER</h5>
          <p>Cambam Rockbrug</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/876049021/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SECURITY OFFICER | FIELD COMMANDER</h5>
          <p>Flashrain</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/2116350275/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">RECRUITMENT DIVISION</h5>
          <p>Happy Isaac</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/91798807/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DIPLOMAT | RECRUITMENT DIVISION</h5>
          <p>Alex Dagonn</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card bg-dark h-100">
        <img src="https://images.evetech.net/characters/94418015/portrait" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CAPITAL PROGRAM DIVISION</h5>
          <p>Radu Capusan</p>
        </div>
      </div>
    </div>
  </div>


</div>





{% endblock %}
